/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-500.woff") format("woff");
}
/* aref-ruqaa-regular - latin */
@font-face {
  font-family: "Aref";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aref-ruqaa-v25-latin-regular.woff2") format("woff2"),
    url("../fonts/aref-ruqaa-v25-latin-regular.woff") format("woff");
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.owl-dots {
  position: absolute;
  left: 90px;
  bottom: 70px;
}
.owl-dot {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6) !important;
  border-radius: 10px;
  width: 57.39px;
  height: 3px;
}
.owl-dots .active {
  background-color: #fff !important;
color: #00000033;
}
